<!DOCTYPE html>

<html>

	<head>
		<title>Hello</title>
		
		<link href="/public/css/option.css" rel="stylesheet" type="text/css">
	</head>
    <body>
		<div class="container">
		    <form action="/pull/update" method="post">
		         <p hidden id="result"><%= optionsResult.optionListAndResult %></p>
    		    <div class="selectdiv" style="text-align:center">
    		        <input type="hidden" value=<%= optionsResult._id %> name="id">
    	            <p>I'd like vote for ...</p>
        		    <select class="btn" id="select" name="vote">
                        <option value="default" selected disabled>Choose an option</option>
                        <% for(var i = 0; i < optionsResult.optionListAndResult.length; i++) { %>
                            <option value=<%=optionsResult.optionListAndResult[i].opt%>><%= optionsResult.optionListAndResult[i].opt %></option>
                        <% }; %>
                    </select>
    		        <input  type="submit" class="btn btn-submit" value="submit">
    		        <!--<input class="btn btn-share" value="share on facebook">-->
        		</div>
        		   
        	</form>
    		<div id="chartdiv">
    		    <table align="center" cellspacing="20">
                    <tr>
                        <td>
                            <input type="radio" checked="true" name="group" id="rb1" onclick="setLabelPosition()">labels outside
                            <input type="radio" name="group" id="rb2" onclick="setLabelPosition()">labels inside</td>
                        <td>
                            <input type="radio" name="group2" id="rb3" onclick="set3D()">3D
                            <input type="radio" checked="true" name="group2" id="rb4" onclick="set3D()">2D</td>
                        <td>Legend switch type:
                            <input type="radio" checked="true" name="group3" id="rb5"
                            onclick="setSwitch()">x
                            <input type="radio" name="group3" id="rb6" onclick="setSwitch()">v</td>
                    </tr>
                </table>
    		</div>
            
		</div>
		
		
		
		
		<script src="/amchars/amcharts.js"></script>
        <script src="/amchars/pie.js"></script>
        <script src="/amchars/export.min.js"></script>
        <link rel="stylesheet" href="/amchars/export.css" type="text/css" media="all" />
        <script src="/amchars/light.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
        <script>
        var res = <%= JSON.stringify(optionsResult.optionListAndResult) %>;
        console.log(res);
        var title = [];
        var count = [];
        var chartData = [];
        for(var i = 0; i < res.length; i++){
            title.push(res[i].opt);
            count.push(res[i].count);
            var dict = {
                "title":res[i].opt,
                "count":parseInt(res[i].count)
            };
            chartData.push(dict);
        }
        console.log(title);
        console.log(count);
        console.log(chartData);

    AmCharts.ready(function () {
        // PIE CHART
        chart = new AmCharts.AmPieChart();
        chart.dataProvider = chartData;
        chart.titleField = "title";
        chart.valueField = "count";
        chart.gradientRatio = [0, 0, 0 ,-0.2, -0.4];
        chart.gradientType = "radial";
    
        // LEGEND
        legend = new AmCharts.AmLegend();
        legend.align = "center";
        legend.markerType = "circle";
        chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
        chart.addLegend(legend);
    
        // WRITE
        chart.write("chartdiv");
    });
    
    // changes label position (labelRadius)
    function setLabelPosition() {
        if (document.getElementById("rb1").checked) {
            chart.labelRadius = 30;
            chart.labelText = "[[title]]: [[value]]";
        } else {
            chart.labelRadius = -30;
            chart.labelText = "[[percents]]%";
        }
        chart.validateNow();
    }
    
    
    // makes chart 2D/3D
    function set3D() {
        if (document.getElementById("rb3").checked) {
            chart.depth3D = 10;
            chart.angle = 10;
        } else {
            chart.depth3D = 0;
            chart.angle = 0;
        }
        chart.validateNow();
    }
    
    // changes switch of the legend (x or v)
    function setSwitch() {
        if (document.getElementById("rb5").checked) {
            legend.switchType = "x";
        } else {
            legend.switchType = "v";
        }
        legend.validateNow();
    }
    </script>
        <div id="chartdiv"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/node_modules/bootstrap/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <!--<script type="text/javascript" src="controllers/optController.client.js"></script>-->
        
		<script type="text/javascript" src= "https://voting-app-liuerbaozi2260.c9users.io/common/ajax-functions.js"></script>
		<!--<script type="text/javascript" src="https://voting-app-liuerbaozi2260.c9users.io/controllers/optController.client.js"></script>-->
	</body>
	

</html>